---
import { ArrowUpRight } from "lucide-astro";
import { isFirst } from "../../utils/utils";
import Icon from "../icon.astro";
import { Image } from "astro:assets";

import Tlou1Image from "../../assets/images/tlou-1.jpg";
import Tlou2Image from "../../assets/images/tlou-2.jpg";
import Tlou3Image from "../../assets/images/tlou-3.jpg";

const experience = [
  {
    title: "Full Stack Software Engineer",
    date: "Jan 2025 - Present",
    company: "Kredfeed",
    href: "https://kredfeed.com",
    color: "#e46f00",
  },
  {
    title: "Full Stack developer",
    date: "Jan 2022 - Dec 2024     (2yr, 11m)",
    company: "DrEnvío",
    href: "https://drenvio.com",
    color: "#5e60e7",
  },
  {
    title: "Front-end developer",
    date: "Sep 2020 - Jan 2022     (1yr, 3m)",
    company: "EDteam",
    href: "https://ed.team",
    color: "#1292EE",
  },
];
---

<section
  id="about"
  class="flex flex-col gap-8 mx-4 md:mx-8 2xl:mx-24 md:grid grid-cols-2 pt-40"
>
  <div class="flex flex-col gap-8 md:order-1">
    <div class="flex flex-col gap-5">
      <h3 class="text-2xl text-black">About me</h3>
      <p class="leading-[1.7] md:text-lg">
        My main purpose is to enhance user experiences by creating websites
        adjusted to the device, capacities and needs of the user. Besides
        software engineer, I love The Last of Us, Taylor Swift, friendship and
        coffee.
      </p>
    </div>

    <div class="flex flex-col gap-5">
      <h3 class="text-2xl text-black">Experience</h3>
      <div class="flex flex-col gap-4">
        {
          experience.map((exp, i) => {
            return (
              <div class="flex justify-between gap-2 items-center">
                <div class="flex flex-col gap-3">
                  <strong
                    class:list={[
                      "font-medium md:text-lg",
                      { "text-[#F35034]": isFirst(i) },
                    ]}
                  >
                    {exp.title}
                  </strong>
                  <p class="text-sm md:text-base">{exp.date}</p>
                </div>
                <div>
                  <a
                    href={exp.href}
                    target="_blank"
                    class:list={[
                      "text-lg flex items-center gap-1 transition-colors",
                    ]}
                    style={{ "--hover-color": exp.color }}
                  >
                    {exp.company}
                    <ArrowUpRight size="16" />
                  </a>
                </div>
              </div>
            );
          })
        }
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <h3 class="text-2xl text-black">Skills</h3>
      <div class="flex items-center flex-wrap gap-4">
        <Icon icon="next-28" />
        <Icon icon="nest-28" />
        <Icon icon="ts-28" />
        <Icon icon="graphql-28" />
        <Icon icon="react-query-28" />
        <Icon icon="tailwind-28" />
        <Icon icon="chakra-28" />
        <Icon icon="postgresql-28" />
        <Icon icon="prisma-28" />
        <Icon icon="mongo-28" />
        <Icon icon="testing-library-28" />
        <Icon icon="jest-28" />
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <h3 class="text-2xl text-black">Tools</h3>
      <div class="flex items-center flex-wrap gap-4">
        <Icon icon="vscode-28" />
        <Icon icon="figma-28" />
        <Icon icon="eslint-28" />
        <Icon icon="github-28" />
        <Icon icon="vercel-28" />
        <Icon icon="postman-28" />
      </div>
    </div>

    <div class="flex flex-col gap-5">
      <h3 class="text-2xl text-black">Socials (sam_621_)</h3>
      <div class="flex items-center flex-wrap gap-6">
        <a
          href="https://profile.playstation.com/rogeliosamuel621"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="playstation-28" />
        </a>
        <a
          href="https://music.apple.com/profile/sam_621_"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="apple-music-28" />
        </a>
        <a
          href="https://www.instagram.com/sam_621_/profilecard/?igsh=YWwzOWZtcXV2NDcz"
          target="_blank"
          rel="noopener noreferrer"
        >
          <Icon icon="ig-28" />
        </a>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-2 gap-4 h-fit md:gap-8">
    <div class="col-span-2 h-fit">
      <Image
        src={Tlou1Image}
        alt="A guitar with a firefly engraved while in the background can see Ellie walking away"
        class="rounded-lg"
      />
    </div>
    <div class="col-span-1 h-fit">
      <Image
        src={Tlou2Image}
        alt="A giraffe eating plants"
        class="rounded-lg"
      />
    </div>
    <div class="col-span-1 h-fit">
      <Image src={Tlou3Image} alt="House in a farm" class="rounded-lg" />
    </div>
  </div>
</section>

<style>
  a:hover {
    color: var(--hover-color);
  }
</style>
