---
import {} from 'astro'
import type { CollectionEntry } from 'astro:content'
import ChevronRight from '../icons/ChevronRight.astro'

interface Props {
  blog: CollectionEntry<'blogs'>
}

const {
  blog: { data },
} = Astro.props
---

<article class='flex flex-col gap-8 lg:flex-row'>
  <div>
    <img src={`/blogs/${data.image}`} alt={data.title} class='rounded-2xl' />
  </div>
  <div class='flex flex-col gap-8 lg:justify-end'>
    <div class='flex flex-col gap-6'>
      <div class='flex flex-col gap-4'>
        <h3 class='text-h4 tracking-h4' set:html={data.title} />
      </div>
      <span class='text-neutral-1 text-h5 tracking-h5'>{data.host}</span>
    </div>
    <a
      href={data.preview}
      class='text-neutral-1 text-button font-normal p-4 rounded-xl border-[1.5px] border-neutral-2 w-fit flex items-center gap-3 hover:bg-neutral-1 hover:text-bg hover:border-neutral-1 transition-all'
    >
      Read Blog
      <ChevronRight className='text-neutral-1' />
    </a>
  </div>
</article>

<style>
  a:hover svg {
    color: black;
  }
</style>
