---
import {} from 'astro'
import type { CollectionEntry } from 'astro:content'
import ChevronRight from '../icons/ChevronRight.astro'
import { twMerge } from 'tailwind-merge'

interface Props {
  project: CollectionEntry<'projects'>
  i: number
}

const {
  project: { data },
  i,
} = Astro.props
---

<article
  class={twMerge('flex flex-col gap-8', i % 2 === 0 ? 'lg:flex-row' : 'lg:flex-row-reverse')}
>
  <div class='lg:w-1/2'>
    <img src={`/projects/${data.image}`} alt={data.title} class='w-full rounded-2xl' />
  </div>
  <div class='lg:w-1/2 flex flex-col gap-8 lg:justify-end'>
    <div class='flex flex-col gap-6'>
      <div class='flex flex-col gap-4'>
        <h3 class='text-h5 tracking-h5'><strong>{data.title}</strong></h3>
        <p class='text-h4 tracking-h4' set:html={data.description} />
      </div>
      <span class='text-neutral-1 text-h5 tracking-h5'>{data.type}</span>
    </div>
    <a
      href={data.preview}
      target='_blank'
      class='text-neutral-1 text-button font-normal p-4 rounded-xl border-[1.5px] border-neutral-2 w-fit flex items-center gap-3 hover:bg-neutral-1 hover:text-bg hover:border-neutral-1 transition-all'
    >
      View Project
      <ChevronRight className='text-neutral-1' />
    </a>
  </div>
</article>

<style>
  a:hover svg {
    color: black;
  }
</style>
