---
import { Image } from "astro:assets";
import Icon from "../icon.astro";

interface Props {
  image: ImageMetadata;
  alt: string;
  name: string;
  techs: string[];
  href: string;
  isDefaultOpen?: boolean;
  class?: string;
}

const {
  image,
  alt,
  name,
  techs,
  href,
  isDefaultOpen,
  class: className,
} = Astro.props;
---

<div
  class:list={[
    "flex flex-col relative gap-4",
    { expand: isDefaultOpen },
    className,
  ]}
>
  <a href={href} target="_blank" class="h-full">
    <Image src={image} alt={alt} class="rounded-lg h-full object-cover" />
  </a>
  <div
    class="flex items-center justify-between lg:absolute lg:h-8 lg:-mb-16 bottom-0 lg:w-full lg:overflow-x-hidden lg:opacity-0"
  >
    <p class="text-black font-normal text-2xl">{name}</p>
    <div class="flex items-center gap-3">
      {techs.map((t) => <Icon icon={t} />)}
    </div>
  </div>
</div>

<style>
  .expand div {
    opacity: 1;
  }
  /* Shows project details */
</style>
