---
import { Image } from "astro:assets";
import { Link } from "lucide-astro";
import Icon from "./icon.astro";

interface Props {
  title: string;
  subtitle: string;
  techs: string[];
  image: ImageMetadata;
  transitionName: string;
  imageClass?: string;
  livePreview?: string;
  github?: string;
  color?: string;
}

const {
  title,
  subtitle,
  image,
  techs,
  livePreview,
  github,
  transitionName,
  imageClass,
  color,
} = Astro.props;
---

<section class="">
  <div class="flex flex-col gap-16 mt-16 mx-4 md:mx-8 2xl:mx-24">
    <div class="flex flex-col slide-in-bottom">
      <h1
        class="text-5xl font-medium text-center text-black md:text-8xl md:font-semibold"
      >
        {title}
      </h1>
      <p class="text-lg font-light text-center md:text-2xl md:font-normal">
        {subtitle}
      </p>
    </div>
    <div
      class="opacity-0 flex items-center justify-between gap-3 slide-in-bottom"
      style="animation-delay: .3s;"
    >
      <div class="flex items-center gap-3">
        {techs.map((tech) => <Icon icon={tech} />)}
      </div>
      <div class="flex items-center gap-3">
        {
          livePreview && (
            <a href={livePreview} target="_blank" rel="noopener noreferrer">
              <Link />
            </a>
          )
        }
        {
          github && (
            <a href={github} target="_blank" rel="noopener noreferrer">
              <Icon icon="github" />
            </a>
          )
        }
      </div>
    </div>
  </div>
  <div
    class="mt-5 bg-white flex justify-center items-center h-screen"
    style={color ? `background-color: ${color}` : ""}
    transition:name={transitionName}
  >
    <Image
      quality="max"
      src={image}
      alt="Web SQL"
      class:list={["h-full object-contain", imageClass]}
    />
  </div>
</section>
